/*------------------------------------------------------------------
[Tartalomjegyzék]

0. Import
1. Minden
2. Bejelentkezés
3. Header / Navigation
4. Your Contacts
5. Calendar
6. Account Settings
7. Financials
8. Sign up
9.
10.
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
# [Színkódok]

# Világosbarna (Login gomb háttere): #d1b99c
# Sötétbarna (Betűk): #4c463c
# Tengerkék (Input mezők szegélyei): #195e99
# Sötétzöld (Success gombok): #556B2F
# Sötétpiros (Danger gombok): rgb(180, 43, 33)
-------------------------------------------------------------------*/

/*  0. Import
----------------------- */
@font-face {
  font-family: 'OCR A EXTENDED';
  src: 
    url('../fonts/OCRAEXT.TTF') format(TrueType);
}
@font-face {
  font-family: 'Imprint MT Shadow';
  src: 
    url('../fonts/IMPRISHA.TTF') format(TrueType);
}

/*  1. Minden
----------------------- */
html {
  box-sizing: border-box;
  font-family: monospace;
  font-size: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
.pt-3-half {
  padding-top: 1.4rem;
  }


/*  2. Bejelentkezés
------------------------ */

#loginPage{
  position: relative;
  padding: 0;
  margin: auto;
  background-image: url("../img/login-page.jpg") ;
  width: 1440px;
  height: 1080px;
}

#loginPage button{
  position: absolute;
}

.keypress{
  display: block;
  height: 29px;
  width: 36px;
  background: transparent;
  /*border: none !important;*/
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  opacity: 30%;
}
.clearButton{
  display: block;
  background: transparent;
  /*border: none !important;*/
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  opacity: 30%;
}
#clearInputButton { 
  left: 957px;
  top: 748px;
  height: 36px;
  width: 44px; 
}

/* 2-3-4-5-6-7-8-9-Ö-Ü */
#number2{ left: 465px; top: 756px; }
#number3{ left: 514px; top: 755px; }
#number4{ left: 561px; top: 755px; }
#number5{ left: 609px; top: 756px; }
#number6{ left: 658px; top: 755px; }
#number7{ left: 704px; top: 755px; }
#number8{ left: 754px; top: 756px;}
#number9{ left: 802px; top: 757px; }
#diaeresisO{ left: 849px; top: 759px; }
#diaeresisU{ left: 898px; top: 757px; }
#diaeresisU{ left: 898px; top: 757px; }

/* Q-W-E-R-T-Z-U-I-O-P-Ő */
#letterQ{ left: 436px; top: 802px; }
#letterW{ left: 488px; top: 803px; }
#letterE{ left: 538px; top: 803px; }
#letterR{ left: 587px; top: 804px; }
#letterT{ left: 635px; top: 804px; }
#letterZ{ left: 684px; top: 803px; }
#letterU{ left: 729px; top: 805px; }
#letterI{ left: 780.5px; top: 805px; }
#letterO{ left: 831px; top: 806px; height: 25px; width: 31px; border: none; }
#letterP{ left: 876px; top: 806px; }
#doubleAcuteO{ left: 923px; top: 807px; }

/* A-S-D-F-G-H-J-K-L-É-Á */
#letterA{ left: 449px; top: 858px; }
#letterS{ left: 498px; top: 860px; }
#letterD{ left: 550px; top: 860px; }
#letterF{ left: 600px; top: 860px; }
#letterG{ left: 646px; top: 861px; }
#letterH{ left: 694px; top: 860px; }
#letterJ{ left: 743px; top: 861px; }
#letterK{ left: 793px; top: 861px; }
#letterL{ left: 841.8px; top: 861px; height: 29px; width: 33px; }
#acuteE{ left: 889.3px; top: 863.5px; height: 26px; width: 32px; border: none; }
#acuteA{ left: 941px; top: 862px; height: 29px; width: 33px; }

/* Y-X-C-V-B-N-M-,-.-Ó */
#letterY{ left: 479px; top: 913px; }
#letterX{ left: 528px; top: 915px; }
#letterC{ left: 578px; top: 913px; }
#letterV{ left: 626px; top: 915px; }
#letterB{ left: 674px; top: 916px; }
#letterN{ left: 722px; top: 915px; }
#letterM{ left: 773px; top: 916px; }
#charComma{ left: 820px; top: 916px; }
#charDot{ left: 868px; top: 916px; }
#acuteO{ left: 923px; top: 918px; }

/* Narancssárga hover effektus az írógép billentyűire */
.hvr-radial-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: rgb(255, 145, 0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-radial-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e1e1e1;
  border-radius: 100%;
  -webkit-transform: scale(2);
  transform: scale(2);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-in:hover, .hvr-radial-in:focus, .hvr-radial-in:active {
  color: white;
}
.hvr-radial-in:hover:before, .hvr-radial-in:focus:before, .hvr-radial-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* Kapcsoló a beviteli mezőkhöz */
.rocker {
  box-sizing: inherit;
  display: inline-block;
  position: absolute;
  left: 657.5px;
  top: 630px;
  font-size: 1em;
  font-family: monospace !important;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #885902;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: #526900;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

input:focus + .switch-left { color: #333; }
input:checked:focus + .switch-left { color: #fff; }
input:focus + .switch-left + .switch-right { color: #fff; }
input:checked:focus + .switch-left + .switch-right { color: #333; }

/* Beviteli mezők */
.box-container {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: OCR A EXTENDED, monospace, serif;
}

#usernameInputBox{
  top: 15%;
  left: 50%;
}

#passwordInputBox{
  top: 19.3%;
  left: 50%;
}

.box-container .box {
  margin-bottom: 30px;
  display: inline-block;
  position: relative;
}

.box-container .box input {
  padding: 5px 10px;
  height: 30px;
  font-size: 1em;
  line-height: 45px;
  border: 2px solid #195e99;
  width: 250px;
  outline: none;
  background: #fff;
  color: #4c463c;
}

/* Bejelentkezési gomb */
.loginButton{
  position: absolute;
  color: #4c463c;
  background-color: #d1b99c;
  border: 2px solid #304d66;
  font-family: OCR A EXTENDED, monospace, serif;
  font-stretch: ultra-expanded;
  -webkit-box-shadow: inset 1px 1px 10px #333;
  -moz-box-shadow:    inset 1px 1px 10px #333;
  box-shadow:         inset 1px 1px 10px #333;
}

#loginButtonId { 
  left: 655px;
  top: 229px;
  height: 30px;
  width: 130px; 
}

.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-forward .hvr-icon {
  position: relative;
  left: 15px;
  top: 1.5px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}


/*  3. Header / Navigation
------------------------ */
.menu-item, .menu-open-button {
  background: #4c463c;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}
 .menu-open {
	 display: none;
}
 .hamburger {
	 width: 25px;
	 height: 3px;
	 background: white;
	 display: block;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 margin-left: -12.5px;
	 margin-top: -1.5px;
	 transition: transform 200ms;
}
 .hamburger-1 {
	 transform: translate3d(0, -8px, 0);
}
 .hamburger-2 {
	 transform: translate3d(0, 0, 0);
}
 .hamburger-3 {
	 transform: translate3d(0, 8px, 0);
}
 .menu-open:checked + .menu-open-button .hamburger-1 {
	 transform: translate3d(0, 0, 0) rotate(45deg);
}
 .menu-open:checked + .menu-open-button .hamburger-2 {
	 transform: translate3d(0, 0, 0) scale(0.1, 1);
}
 .menu-open:checked + .menu-open-button .hamburger-3 {
	 transform: translate3d(0, 0, 0) rotate(-45deg);
}
 .menu {
   position: absolute;
   top: 2%;
   left: 5%;
	 width: 650px;
	 height: 150px;
	 box-sizing: border-box;
	 font-size: 27px;
   text-align: left;
   z-index: 9999;
}
 .menu-item:hover {
	 background: #d1b99c;
	 color: #4b4234;
}
 .menu-item:nth-child(3) {
	 transition-duration: 180ms;
}
 .menu-item:nth-child(4) {
	 transition-duration: 180ms;
}
 .menu-item:nth-child(5) {
	 transition-duration: 180ms;
}
 .menu-item:nth-child(6) {
	 transition-duration: 180ms;
}
 .menu-item:nth-child(7) {
	 transition-duration: 180ms;
}
 .menu-item:nth-child(8) {
	 transition-duration: 180ms;
}
 .menu-open-button {
	 z-index: 2;
	 transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	 transition-duration: 400ms;
	 transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	 cursor: pointer;
}
 .menu-open-button:hover {
	 transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
 .menu-open:checked + .menu-open-button {
	 transition-timing-function: linear;
	 transition-duration: 200ms;
	 transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}
 .menu-open:checked ~ .menu-item {
	 transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
 .menu-open:checked ~ .menu-item:nth-child(3) {
	 transition-duration: 190ms;
	 transform: translate3d(0, 110px, 0);
}
 .menu-open:checked ~ .menu-item:nth-child(4) {
	 transition-duration: 290ms;
	 transform: translate3d(0, 220px, 0);
}
 .menu-open:checked ~ .menu-item:nth-child(5) {
	 transition-duration: 390ms;
	 transform: translate3d(0, 330px, 0);
}
 .menu-open:checked ~ .menu-item:nth-child(6) {
	 transition-duration: 490ms;
	 transform: translate3d(0, 440px, 0);
}
 .menu-open:checked ~ .menu-item:nth-child(7) {
	 transition-duration: 590ms;
	 transform: translate3d(0, 550px, 0);
}
 .menu-open:checked ~ .menu-item:nth-child(8) {
	 transition-duration: 690ms;
	 transform: translate3d(0, 660px, 0);
}


/*  4. Your Contacts
------------------------ */
.contactsDiv{
  font-family: monospace;
}
.form-control:focus {
  border-color: #4c463c;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #4c463c;
}
#searchDiv{
  margin: auto;
  padding-bottom: 10px;
}
#addContactButton{
  background-color: #556B2F;
}
#addContactButtonModal{
  background-color: #556B2F;
  border: none;
}
#saveButtonModal{
  background-color: #2F556B;
  border: none;
}
#deleteButton{
  background-color: rgb(180, 43, 33);
  border: none;
}
#warningText{
  color: rgb(180, 43, 33);
}
#contactsIcon{
  padding-right: 0.5em;
}
.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  margin: 30px 0;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
  padding-bottom: 15px;
  background: #4c463c;
  color: #fff;
  padding: 16px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}
.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}
.table-title .btn-group {
  float: right;
}
.table-title .btn {
  color: #fff;
  float: right;
  font-size: 13px;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}
.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}
.table-title .btn span {
  float: left;
  margin-top: 2px;
}
table.table tr th, table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}
table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #38190011;
}
table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}
table.table th i {
  font-size: 13px;
  margin: 0px 10px 10px 10px;
  cursor: default;
}	
table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}
table.table td a.edit {
  color: rgb(211, 158, 0);
}
table.table td a.delete {
  color: rgb(180, 43, 33);
}
table.table td i {
  font-size: 19px;
}
.pagination {
  float: right;
  margin: 0 0 5px;
}
.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}
.pagination li a:hover {
  color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
  background: #4c463c;
}
.pagination li.active a:hover {        
  background: #4c463c;
}
.pagination li.disabled i {
  color: #ccc;
}
.pagination li i {
  font-size: 16px;
  padding-top: 6px
}
.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}  
/* Modal */
.modal .modal-dialog {
  font-family: monospace;
  max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
  padding: 20px 30px;
}
.modal .modal-content {
  border-radius: 3px;
}
.modal .modal-footer {
  background: #ecf0f1;
  border-radius: 0 0 3px 3px;
}
.modal .modal-title {
  display: inline-block;
}
.modal .form-control {
  border-radius: 2px;
  box-shadow: none;
  border-color: #dddddd;
}
.modal textarea.form-control {
  resize: vertical;
}
.modal .btn {
  border-radius: 2px;
  min-width: 100px;
}	
.modal form label {
  font-weight: normal;
}	

.modal-title{
  padding-left: 7em;
}


/*  5. Calendar
------------------------ */
#calendarDiv .vm-main {
  background: #fff;
  padding: 20px 25px;
  margin: 30px 0;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
#calendarDiv .vm-header {        
  padding-bottom: 15px;
  background: #4c463c;
  color: #fff;
  padding: 16px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}
#calendarDiv .vm-header h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
}
#calendarDiv #main > .inside
{
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
	padding: 80px 0;
}

#calendarDiv h2
{
	font-weight: lighter;
	color: #444;
	text-align: center;
	font-size: 130%;
	margin: 0;
	margin-bottom: 25px;
}
#calendarDiv h3
{
	font-weight: lighter;
	color: #444;
	font-size: 120%;
	margin: 0;
	margin-bottom: 15px;
}
#calendarDiv p
{
	margin: 0;
	margin-bottom: 15px;
}
#calendarDiv a
{
	color: #444;
	text-decoration: none;
}
#calendarDiv a:hover
{
	color: rgb(51, 51, 51);
}
#calendarDiv a:active
{
	color: rgb(38, 9, 32);
}

#calendarDiv ul.list
{
	margin: 0;
	padding: 0;
	list-style: none;
}
  #calendarDiv ul.list li
	{
    border-style: outset;
    border-width: 1px;
		padding: 25px;
		background-color: #d1b99c3b;
		margin: 0;
		margin-bottom: 25px;
    box-shadow: 0 2px 25px rgba(0,0,0, 0.1);
    border-radius: 5%;
  }
    #calendarDiv .deadline{
      float: right;
      padding-bottom: 10px;
      font-style: italic;
      text-align: right;
    }
    #calendarDiv ul.list li.expired{
      background-color: #ce0f0f3b;
    }
    #calendarDiv ul.list li div{
      margin: 0;
      padding: 0;
    }
    #calendarDiv ul.list li a
		{
			display: block;
			float: right;
		}
		#calendarDiv ul.list li > div::after
		{
			display: block;
			content: "";
			clear: both;
		}

#calendarDiv form
{
	padding: 25px;
	background: #fff;
	margin: 0;
	margin-bottom: 25px;
	text-align: center;
	box-shadow: 0 2px 25px rgba(0,0,0, 0.1);
}
  #calendarDiv form p.message
	{
		color: rgb(42, 171, 151);
		padding-bottom: 10px;
		margin-bottom: 15px;
		border-bottom: 1px solid rgba(42, 171, 151, 0.25);
	}
	#calendarDiv form p.message.error
	{
		color: rgb(171, 42, 42);
		border-bottom: 1px solid rgba(171, 42, 42, 0.25);
	}
	#calendarDiv form > div
	{
		margin-bottom: 15px;
	}
    #calendarDiv form label
		{
			font-size: 95%;
			display: block;
			margin-bottom: 5px;
		}
		#calendarDiv form input,
		#calendarDiv form textarea
		{
			background-color: #d1b99c3b;
			border: 1px solid #e4e4e4;
			padding: 10px;
			box-sizing: border-box;
			font-size: 100%;
			font-family: "std";
			color: #666;
			width: 100%;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			outline: 0;
      border-radius: 5%;
      box-shadow: 1px 1px;
		}
		#calendarDiv form textarea
		{
			resize: none;
			height: 75px;
    }
    #calendarDiv form input[type=date]{
      width: 40%;
    }
		#calendarDiv form button
		{
			padding: 10px;
			box-sizing: border-box;
			font-size: 105%;
			text-transform: uppercase;
			width: 100%;
			outline: 0;
			cursor: pointer;
      max-width: 300px;
      color: #4c463c;
      background-color: #d1b99c;
      border: 2px solid #304d66;
      font-family: OCR A EXTENDED, monospace, serif;
      font-stretch: ultra-expanded;
      -webkit-box-shadow: inset 1px 1px 10px #333;
      -moz-box-shadow:    inset 1px 1px 10px #333;
      box-shadow:         inset 1px 1px 10px #333;
      border-radius: 5%;
		}
		#calendarDiv form button:hover
		{
			background: #4c463c;
      border: 2px solid #d1b99c;
      color: #fff;
		}
		#calendarDiv form button:active
		{
			background: rgb(38, 9, 32);
		}

#calendarDiv #navigation-bar
{
	position: fixed;
	bottom: 0;
	width: 80%;
	height: 65px;
	border-top: 1px solid #e8e8e8;
  background: #f4f4f4;
  margin: auto;
}
  #calendarDiv #navigation-bar > ul
	{
		width: 90%;
		height: 100%;
		max-width: 500px;
		margin: 0 auto;
		padding: 0;
		list-style: none;
	}
    #calendarDiv #navigation-bar > ul li
		{
			width: 50%;
			height: 100%;
			float: left;
			text-align: center;
		}
      #calendarDiv #navigation-bar > ul li a
			{
				display: block;
				height: 100%;
				text-decoration: none;
				color: #888;
				padding-top: 10px;
				font-size: 175%;
			}
			#calendarDiv #navigation-bar > ul li a:hover
			{
				background: rgba(0,0,0, 0.05);
			}
			#calendarDiv #navigation-bar > ul li a:active
			{
				background: rgba(0,0,0, 0.1);
			}

/*  6. Account settings
------------------------ */
.settingsDiv{
  font-family: monospace;
  padding: 20px 25px;
  margin: auto;
}
.settingsHeader{
  padding-bottom: 15px;
  background: #4c463c;
  color: #fff;
  padding: 16px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}
#saveSettingsButton{
  background-color: #556B2F;
  border: none;
}

/*  7. Financials
------------------------ */
#financialsDiv .vm-main {
  background: #fff;
  padding: 20px 25px;
  margin: 30px 0;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
#financialsDiv .vm-header {        
  padding-bottom: 15px;
  background: #4c463c;
  color: #fff;
  padding: 16px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}
#financialsDiv .vm-header h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
}
#financialsDiv #main > .inside
{
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
	padding: 80px 0;
}

#financialsDiv h2
{
	font-weight: lighter;
	color: #444;
	text-align: center;
	font-size: 130%;
	margin: 0;
	margin-bottom: 25px;
}
#financialsDiv h3
{
	font-weight: lighter;
	color: #444;
	font-size: 120%;
	margin: 0;
	margin-bottom: 15px;
}
#financialsDiv p
{
	margin: 0;
	margin-bottom: 15px;
}
#financialsDiv a
{
	color: #444;
	text-decoration: none;
}
#financialsDiv a:hover
{
	color: rgb(51, 51, 51);
}
#financialsDiv a:active
{
	color: rgb(38, 9, 32);
}

#financialsDiv ul.list
{
	margin: 0;
	padding: 0;
	list-style: none;
}
  #financialsDiv ul.list li
	{
    border-style: outset;
    border-width: 1px;
		padding: 25px;
		background-color: #d1b99c3b;
		margin: 0;
		margin-bottom: 25px;
    box-shadow: 0 2px 25px rgba(0,0,0, 0.1);
    border-radius: 5%;
  }
    #financialsDiv .date{
      float: right;
      padding-bottom: 10px;
      font-style: italic;
      text-align: right;
    }
    #financialsDiv ul.list li.positive{
      background-color: #55ce0f3b;
    }
    #financialsDiv ul.list li.negative{
      background-color: #ce0f0f3b;
    }
    #financialsDiv ul.list li div{
      margin: 0;
      padding: 0;
    }
    #financialsDiv ul.list li a
		{
			display: block;
			float: right;
		}
		#financialsDiv ul.list li > div::after
		{
			display: block;
			content: "";
			clear: both;
		}


    #financialsDiv form
    {
      padding: 25px;
      background: #fff;
      margin: 0;
      margin-bottom: 25px;
      text-align: center;
      box-shadow: 0 2px 25px rgba(0,0,0, 0.1);
    }
      #financialsDiv form p.message
      {
        color: rgb(42, 171, 151);
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid rgba(42, 171, 151, 0.25);
      }
      #financialsDiv form p.message.error
      {
        color: rgb(171, 42, 42);
        border-bottom: 1px solid rgba(171, 42, 42, 0.25);
      }
      #financialsDiv form > div
      {
        margin-bottom: 15px;
      }
        #financialsDiv form label
        {
          font-size: 95%;
          display: block;
          margin-bottom: 5px;
        }
        #financialsDiv form input,
        #financialsDiv form textarea
        {
          background-color: #d1b99c3b;
          border: 1px solid #e4e4e4;
          padding: 10px;
          box-sizing: border-box;
          font-size: 100%;
          font-family: "std";
          color: #666;
          width: 100%;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          outline: 0;
          border-radius: 5%;
          box-shadow: 1px 1px;
        }
        #financialsDiv form textarea
        {
          resize: none;
          height: 75px;
        }
        #financialsDiv form input[type=date]{
          width: 40%;
        }
        #financialsDiv form input[type=text]{
          width: 40%;
        }
        #financialsDiv form button
        {
          padding: 10px;
          box-sizing: border-box;
          font-size: 105%;
          text-transform: uppercase;
          width: 100%;
          outline: 0;
          cursor: pointer;
          max-width: 300px;
          color: #4c463c;
          background-color: #d1b99c;
          border: 2px solid #304d66;
          font-family: OCR A EXTENDED, monospace, serif;
          font-stretch: ultra-expanded;
          -webkit-box-shadow: inset 1px 1px 10px #333;
          -moz-box-shadow:    inset 1px 1px 10px #333;
          box-shadow:         inset 1px 1px 10px #333;
          border-radius: 5%;
        }
        #financialsDiv form button:hover
        {
          background: #4c463c;
          border: 2px solid #d1b99c;
          color: #fff;
        }
        #financialsDiv form button:active
        {
          background: rgb(38, 9, 32);
        }
    #financialsDiv #navigation-bar
    {
      position: fixed;
      bottom: 0;
      width: 80%;
      height: 65px;
      border-top: 1px solid #e8e8e8;
      background: #f4f4f4;
      margin: auto;
    }
      #financialsDiv #navigation-bar > ul
      {
        width: 90%;
        height: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding: 0;
        list-style: none;
      }
        #financialsDiv #navigation-bar > ul li
        {
          width: 50%;
          height: 100%;
          float: left;
          text-align: center;
        }
          #financialsDiv #navigation-bar > ul li a
          {
            display: block;
            height: 100%;
            text-decoration: none;
            color: #888;
            padding-top: 10px;
            font-size: 175%;
          }
          #financialsDiv #navigation-bar > ul li a:hover
          {
            background: rgba(0,0,0, 0.05);
          }
          #financialsDiv #navigation-bar > ul li a:active
          {
            background: rgba(0,0,0, 0.1);
          }

/*  8. Signup
------------------------ */
#h1element{
  background: #4c463c;
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
  padding: 16px 30px;
  margin: 20px 25px 10px;   
  font-size: 24px;
  text-align: center;
  border-radius: 3px 3px 0 0;
}
#signupdiv{
	background-color:fff;
}

#signupdiv input{
	border: solid 1px #4c463c;
}
#signupdiv #clear{
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 3em;
  padding: 1em;
  background-color:rgb(180, 43, 33);
  border: none;
}

#signupdiv #signup{
  background-color:#556B2F;
  border: none;
  padding: 1em;
  margin-right: 3em;
  margin-top: 10px;
  margin-bottom: 20px;
}


/*  8. 
------------------------ */

/*  9. 
------------------------ */

/*  10. 
------------------------ */